.header-main-wrapper {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 90;
}

.header-wrap {
  display: flex;
  flex-direction: column;
  transition: all var(--transition-base);
  width: 100%;
  padding: 1rem;
}

.header-wrap.scrolled {
  margin: 1rem 0;
  width: 90%;
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-md);
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-main {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.logo-txt {
  font-family: var(--font-heading);
  text-decoration: none;
  color: var(--gray-100);
  font-size: 2rem;
}

.main-header ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

.menu-options {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  align-items: center;
}

.menu-options li a,
.menu-options li span.menu-dropdown-btn {
  display: inline-block;
  font-family: var(--font-heading);
  font-size: 0.9rem;
  text-transform: uppercase;
  border: 1px solid var(--white);
  border-radius: 5px;
  text-decoration: none;
  padding: 0.2rem 0.5rem;
  transition: all var(--transition-base);
  width: 100%;
}

span.menu-dropdown-btn {
  color: var(--white);
  cursor: pointer;
}

span.menu-dropdown-btn:hover {
  color: var(--gray-900);
  background-color: var(--accent-color);
}

.menu-options .menu-sub-header {
  font-family: var(--font-heading);
  text-transform: uppercase;
  color: var(--white);
  background: var(--primary-color);
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
  scroll-snap-align: start;
}

.menu-options .menu-sub-header:nth-last-child {
  scroll-snap-align: none;
}
.menu-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 10;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(37, 99, 235, 0.5);
  padding: 0.9rem;
  margin: 0.5rem 0;
  border-radius: 10px;
  max-height: 60vh;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
}
.menu-dropdown::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(20px);
}

.menu-dropdown > li:nth-child(1) {
  scroll-snap-align: center;
}

.menu-sub-category {
  scroll-snap-align: none;
}

.menu-dropdown li a {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  text-transform: uppercase;
}

.menu-options li a:hover {
  background-color: var(--accent-color);
  color: var(--gray-900);
}

.header-input {
  font-family: var(--font-heading);
  width: 100%;
  padding: 0.4rem 1rem;
  border-radius: 10px;
  border: 1px solid var(--white);
}

.user-wrap {
  display: flex;
  gap: 1rem;
}

.user-wrap a {
  text-decoration: none;
  color: unset;
}

.user-wrap .user-btn {
  color: var(--gray-100);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border: 1px solid var(--white);
  border-radius: 10px;
  transition: all var(--transition-base);
}

.user-wrap .user-btn:hover {
  background-color: var(--white);
  color: var(--primary-color);
  border-radius: 100%;
}

.currency-wrap {
  display: flex;
  background-color: var(--white);
  color: var(--primary-color);
  padding: 0.3rem 0.5rem;
  border-radius: 10px;
  border: 1px solid var(--white);
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: all var(--transition-base);
}

.currency-wrap select,
.currency-wrap option {
  background-color: var(--white);
  font-family: var(--font-heading);
  width: 100%;
  border: none;
  font-size: 1rem;
  color: var(--primary-color);
}
.currency-wrap option {
  color: var(--primary-color);
}

.currency-wrap:hover,
.currency-wrap:hover select {
  background-color: transparent;
  color: var(--white);
}

.currency-icon svg {
  width: 20px;
  height: 20px;
}

.search-wrap {
  width: 100%;
  padding: 1rem 0;
  margin: 0.1rem;
  box-sizing: border-box;
}

.search-wrap input {
  padding: 0.5rem 1rem;
}

@media screen and (min-width: 1080px) {
  .header-wrap {
    padding: 0 2rem;
    width: 100%;
  }
  .menu-main .menu-btn {
    display: none;
  }

  .menu-options {
    display: flex;
    flex-direction: row;
    position: relative;
    left: unset;
  }
}
