.product-filter-wrap {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1rem;
  padding: 1rem;
  background: var(--gray-100);
  border-radius: 10px;
}

.filter-wrap {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.filter-title {
  font-size: 1rem;
  font-weight: 300;
  font-family: var(--font-heading);
}

.ratings-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.rating-btn {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1rem;
}

.status-wrap {
  display: flex;
  gap: 0.9rem;
}

.filter-divider {
  background-color: var(--gray-100);
}

select {
  background-color: var(--gray-50);
  border: 1px solid var(--gray-300);
  border-radius: 10px;
  padding: 0.8rem;
  font-size: 1rem;
}

input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
  background-color: var(--primary-color);
}

.range-slider .range-slider__thumb {
  background: var(--primary-color);
}

.range-slider .range-slider__range {
  background: var(--primary-hover);
}
