.header-main-wrapper {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 90;
}

.header-wrap {
  display: flex;
  flex-direction: column;
  transition: all var(--transition-base);
  width: 100%;
  padding: 1rem;
}

.header-wrap.scrolled {
  margin: 1rem 0;
  width: 90%;
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-md);
}

.header-wrap input {
  width: 100%;
  padding: 0.4rem 1rem;
  border-radius: 10px;
  border: 1px solid black;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-main {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.main-header ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

.menu-options {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  align-items: center;
}

.menu-options li a {
  color: var(--gray-900);
  text-decoration: none;
  padding: 0.2rem 0.5rem;
  transition: all var(--transition-base);
}

.menu-options li a:hover {
  background-color: var(--accent-color);
  text-decoration: none;
}

.user-wrap {
  display: flex;
  gap: 1rem;
}

.user-wrap div {
  color: var(--gray-900);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 100%;
  transition: all var(--transition-base);
}

.user-wrap div:hover {
  color: var(--primary-color);
}

.search-wrap {
  width: 100%;
  padding: 1rem 0;
  margin: 0.1rem;
  box-sizing: border-box;
}

.search-wrap input {
  padding: 0.5rem 1rem;
}

@media screen and (min-width: 1080px) {
  .header-wrap {
    padding: 0 2rem;
    width: 100%;
  }
  .menu-main .menu-btn {
    display: none;
  }

  .menu-options {
    display: flex;
    flex-direction: row;
    position: relative;
    left: unset;
  }
}
