.header-wrap {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.header-wrap input {
  width: 100%;
  padding: 0.4rem 1rem;
  border-radius: 10px;
  border: 1px solid black;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-main {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.main-header ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

.menu-options {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  margin: 1rem;
  background: var(--light-prime);
  padding: 1rem;
  border-radius: 10px;
}

.user-wrap {
  display: flex;
  gap: 0.5rem;
}

.search-wrap {
  width: 100%;
  padding: 1rem 0;
  margin: 0.1rem;
  box-sizing: border-box;
}

@media screen and (min-width: 1080px) {
  .header-wrap {
    margin: 1.5rem 2rem;
  }
  .menu-main .menu-btn {
    display: none;
  }

  .menu-options {
    display: flex;
    flex-direction: row;
    position: relative;
    left: unset;
  }
}
