.main-banner-wrap {
  display: flex;
  padding: 1rem 2rem;
  height: 90vh;
}

.image-wrap {
  display: flex;
  justify-content: flex-end;
}

.txt-content {
  margin: 2rem 0;
}
.home-title {
  font-size: 4rem;
  font-weight: 900;
}

.main-stats {
  display: flex;
  gap: 3rem;
  margin: 2rem 0;
}

.stat-wrap {
  padding: 1rem 0;
}
