.products-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 2rem 0;
}

.product-link {
  text-decoration: none;
  color: unset;
}

.product-card {
  border: 2px solid transparent;
  background:
    linear-gradient(#ffffff, #ffffff) padding-box,
    linear-gradient(258deg, var(--white), #ffffff, var(--white)) border-box;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding: 1.5rem;
  position: relative;
  box-shadow: 0 5px 5px rgba(15, 23, 42, 0.1);
}

.product-image {
  aspect-ratio: 1/1;
}
.product-image img {
  width: 100%;
  height: auto;
}

.product-card .product-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-grow: 1;
}

.product-card .product-name {
  font-size: 1.2rem;
  font-weight: 300;
  flex-grow: 1;
}

.product-card .product-brand {
  font-size: 1.1rem;
  font-weight: 200;
}

.product-card .product-price {
  font-size: 1.2rem;
  font-weight: 500;
}

.product-card .btn-wrap {
  position: absolute;
  right: 0;
  margin: 0.1rem 0.8rem;
}

.product-card .add-cart {
  background: transparent;
  outline: none;
  border: 1px solid #2563eb;
  border-radius: 10px;
  width: 3rem;
  height: 3rem;
  color: var(--primary-color);
  box-shadow: 0 0 2px rgba(15, 23, 42, 0.1);
  transition: all var(--transition-base);
}

.add-cart:hover {
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 100%;
  transform: rotate(5deg);
}

.add-cart svg {
  width: 2rem;
  height: 2rem;
}
.pagination-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
}
.nav-btn,
.page-btn {
  border: 2px solid var(--primary-color);
  background: var(--gray-100);
  color: var(--primary-color);
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  transition: all 800ms ease-in-out;
}
.nav-btn:hover,
.page-btn:hover {
  background: var(--primary-hover);
  color: var(--gray-50);
}
.page-btn.active {
  background: var(--primary-color);
  color: var(--gray-100);
}
.nav-btn:disabled {
  border: 2px solid var(--gray-300);
  background: var(--gray-100);
  color: var(--gray-600);
}

@media screen and (min-width: 1080px) {
  .products-wrap {
    grid-template-columns: repeat(5, 1fr);
  }
}
